nav {    
    line-height: 40px;
    font-size: 20px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky; 
    top:80px;   
    
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding:5px;
}
nav a:hover{
    background-color: gray;
}